<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/error.css" />
  </head>

  <body>
    <div class="container">
      <h1>Oops! Something went wrong.</h1>
      <p>

        We're sorry, but something went wrong. Please try again later. If the
        problem persists, please contact our support team.
      </p>
    </div>
  </body>
</html>

