<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="/task/styles/home.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="container" class="container" hx-swap-oob="true">
      <h1>TO DO LIST</h1>
      <form
        th:action="@{/addTask}"
        th:hx-post="@{/addTask}"
        method="post"
        hx-target="#container"
      >
        <input
          autofocus
          type="text"
          id="new-task-input"
          name="title"
          placeholder="Add a new task"
          required
          maxlength="30"
        />
        <select name="difficult">
          <option value="NONE">None</option>
          <option style="background-color: #60ffc3" value="EASY">Easy</option>
          <option style="background-color: #ffff70" value="AVERAGE">
            Average
          </option>
          <option style="background-color: #ff4000" value="HARD">Hard</option>
        </select>
        <button type="submit">Add</button>
      </form>
      <!-- <select id="type-difficult" hx-trigger="change" hx-target="#container" th:hx-get="@{/filter}" -->
      <!--   hx-include="#type-difficult"> -->
      <!--   <option value="NONE">None</option> -->
      <!--   <option value="EASY">Easy</option> -->
      <!--   <option value="AVERAGE">Average</option> -->
      <!--   <option value="HARD">Hard</option> -->
      <!-- </select> -->
      <ul class="todo-list">
        <li th:each="task : ${tasks}">
          <input
            class="checkbox-close-task"
            th:hx-put="@{/updateTask/{id}(id=${task.id})}"
            hx-trigger="click"
            hx-target="#container"
            type="checkbox"
            th:id="|task-${task.id}|"
            th:checked="${task.isComplete}"
          />
          <label
            th:class="|close-task ${task.difficult}|"
            th:for="|task-${task.id}|"
          >
            [[${task.title}]]
            <!-- ([[${task.difficult}]]) -->
          </label>
          <button
            class="delete-btn"
            th:hx-delete="@{/deleteTask/{id}(id=${task.id})}"
            hx-trigger="click"
            hx-target="#container"
          >
            Delete
          </button>
        </li>
      </ul>
      <div class="page-container">
        <input
          th:hx-get="@{/previousPage}"
          hx-trigger="click"
          hx-target="#container"
          class="page"
          type="button"
          value="<"
        />
        <input
          th:hx-get="@{/}"
          hx-trigger="click"
          hx-target="#container"
          class="page"
          type="button"
          th:value="${page}"
        />
        <input
          th:hx-get="@{/nextPage}"
          hx-trigger="click"
          hx-target="#container"
          class="page"
          type="button"
          value=">"
        />
        <!-- <input class="clean-all" type="button" name="clean" value="clean all"> -->
      </div>
    </div>
  </body>
</html>
