<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="/task/styles/home.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="container" class="container" hx-swap-oob="true" style="width: 600px">
      <h1>TO DO LIST</h1>
      <form action="/addTask" method="post">
        <input
          autofocus
          type="text"
          id="new-task-input"
          name="title"
          placeholder="Add a new task"
          required
          maxlength="30"
        />
        <select id="difficult" name="difficult">
          <option value="NONE">None</option>
          <option style="background-color: #60ffc3" value="EASY">Easy</option>
          <option style="background-color: #ffff70" value="AVERAGE">
            Average
          </option>
          <option style="background-color: #ff4000" value="HARD">Hard</option>
        </select>
        <button type="submit">Add</button>
      </form>

      <select
        id="type-difficult"
        hx-trigger="change"
        hx-target="#testaqui"
        hx-get="/filter"
        name="type-difficult"
        hx-include="[id=type-difficult], [id=type-checked]"
      >
        <option selected value="ALL">All</option>
        <option value="NONE">None</option>
        <option value="EASY">Easy</option>
        <option value="AVERAGE">Average</option>
        <option value="HARD">Hard</option>
      </select>

      <select
        id="type-checked"
        hx-trigger="change"
        hx-target="#testaqui"
        hx-get="/filter"
        name="type-checked"
        hx-include="[id=type-difficult], [id=type-checked]"
      >
        <option selected value="ALL">All</option>
        <option value="CHECKED">Checked</option>
        <option value="UNCHECKED">UnChecked</option>
      </select>
      <input
        type="button"
        name="clean"
        value="clean All"
        hx-delete="/deleteAll"
        hx-target="#container"
        hx-trigger="click"
      />
      <ul th:replace="~{fragments/tasks :: tasks}"></ul>
    </div>
  </body>
</html>
